.costumer {
	position: relative;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.costumer .side {
	grid-column: 1;
}
.costumer .main {
	grid-column: 2;
}
.costumer .mn {
	position: relative;
	width: 95%;
	padding: 20px 2.5%;
	background-color: #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}
.profile .top {
	padding: 10px 0;
}
.profile .top .image {
	position: relative;
	width: 95%;
	padding-bottom: 95%;
	margin: auto;
	border-radius: 5px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
}
.profile .mid {
	position: relative;
	border-bottom: 1px #ededed solid;
	padding-bottom: 10px;
}
.profile ul {
	width: 95%;
	padding: 0 2.5%;
	color: #555;
}
.profile ul li {
	position: relative;
	padding: 5px 0;
	list-style: none;
	font-size: 14px;
}
.profile ul li .icn {
	width: 30px;
	text-align: center;
}
.profile .marg-top {
	margin-top: 10px;
}
.profile .bot {
	margin-top: 10px;
}

.costumer .main .ctn-show {
	display: block;
}
.costumer .main .ctn-hide {
	display: none;
}

@media only screen and (max-width: 768px) {
	.costumer {
		grid-template-columns: 100%;
	}
	.costumer .main {
		grid-column: 1;
	}
	.costumer .side {
		grid-column: 1;
	}
}

.order-box {
	margin-bottom: 0 !important;
}

.order-box .mid-cart {
  grid-template-columns: 300px 300px 100px;
  color: #999 !important;
  font-size: 15px;
  border: none !important;
}

.order-box .mid-cart .value {
	color: #888 !important;
}